.topMenu{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem;
    min-height: 100px;
    height: auto;
    background-color: $deep-blue;
    z-index: 1000;
    @media screen and (min-width: 900px){
        height: 83px;
        padding-left: 0px;
        padding-right: 0px;
    }

    &-container{
        width: calc(100% - 30px);
        max-width: 1400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 524px){
            flex-direction: row;
        }
        
        &-imgContainer{
            width: 50%;
            height: auto;
            margin-bottom: 1rem;
            margin-right: 1rem;
            @media (min-width: 524px){
                width: 30%;
                margin-bottom: 0;
            }
            @media screen and (min-width: 900px){
                width: 100px;
                height: auto;
            }
        }

        &-options{
            width: calc(45%);

            ul{
                list-style: none;
                display: flex;
                align-items:center;
                gap: 0.5rem;
                margin: 0;
                padding: 0;
            }

            ul li a{
                color: $light-yellow;
                text-decoration: none;
                font-size: 12px;
                font-weight: 900;
                @media (min-width: 1255px){
                    font-size: 14px;
                }
            }
        }
        &-buttonContainer{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (min-width: 900px){
                width: 40%;
            }

            &-button{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 5px;
                margin: 0 1px;
                width: 65px;
                height: 30px;
                text-decoration: none;
                background-color: $light-yellow;
                font-size: 12px;
                font-weight: 900;
                color: $deep-blue;
                @media screen and (min-width: 340px){
                    margin: 0 5px;
                }
                @media screen and (min-width: 900px){
                    width: 70px;
                    height: 30px;
                    font-size: 16px;
                }
                @media screen and (min-width: 1200px){
                    padding: 0.5rem 3rem;
                }

                &:hover{
                    background-color: $mid-yellow;
                }
                
            }
            .betslip{
                color: $white;
                background-color: $green;
            }
            .container-inputs{
                display: flex;
                &__errors{
                    display: inline-block;
                }
            }
            .form-login__input{
                width: 90px;
                height: 30px;
                margin: 0 2px;
                @media screen and (min-width: 340px){
                    margin: 0 5px;
                }
            }
        }
        
    }
}